<form [formGroup]="form" class="pl-4 pr-4">
  <p class="mt-4 mb-4">Where would you like to display your campaign?</p>
  <div formArrayName="campaignRules">
    <div *ngFor="let ruleControl of campaignRules.controls; index as index" [formGroupName]="index">

      <app-custom-select [options]="ruleOptions" formControlName="ruleOption"></app-custom-select>
      <app-custom-input formControlName="urls"></app-custom-input>
      <button (click)="removeCampaignRule(index)">remove</button>
    </div>
  </div>
  <button (click)="addCampaignRule()" class="btn-ghost mt-4">
    <i class="plus alt"></i>
    NEW RULE
  </button>
</form>
