@import "colors";

@mixin base-btn-style {
  padding: .7rem 2rem;
  border-radius: 5px;
  border: 2px solid $light-grey;
  background: transparent;
  font-weight: 600;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn {
  &-ghost {
    @include base-btn-style;
  }
}
