//common normalizer
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
}

input, select, button, input[type=button], input[type=submit] {
  outline: none;
}

a, a:hover, a:visited, a:active {
  text-decoration: none;
}

button, a, input[type=button], input[type=submit] {
  cursor: pointer;
}

li {
  list-style: none;
}

input:focus, select:focus {
  outline:none;
}

@import 'src/styles/spacing';
@import 'src/styles/buttons';
@import 'src/styles/text';
@import 'src/styles/icons';

